<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
			<div class="logo-title">Натуральные эфирные масла высшего качества без примесей и синтетики</div>
		</div>
		<div class="actions-inner-wrap">
			<div class="phone-wrap">
				<a href="tel:87781092123" class="btn button-clear">
					<div class="button-title">+7 778 109-21-23</div>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-border js-popup-open" data-popup="popup-price">
					<div class="button-title">Получить прайс</div>
				</a>
			</div>
			<div class="lang-wrap">
				<div class="frm-field-select js-popup-wrap">
					<a href="" class="btn-popup btn js-btn-popup-toggle">
						<div class="button-title">РУ</div>
					</a>
					<div class="field-content-block js-popup-block">
						<ul class="menu">
							<li>
								<a href="" class="btn-menu active">
									<div class="button-title">РУ</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">EN</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Қаз</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->