

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-form">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Поможем с выбором и рассчитаем стоимость </div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Страна, город">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<input type="email" class="form-input" placeholder="E-mail">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<input type="tel" class="form-input" placeholder="Телефон для связи">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">
						<div class="frm-select">
							<input type="checkbox" id="popup-check">
							<label for="popup-check">Я соглашаюсь с условиями обработки  <a href="" class="link-main">персональных данных</a></label>
						</div>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">Получить предложение</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-price">
	<div class="popup-box small-padding">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Оставьте свои контакты и&nbsp;мы пришлем прайс-лист </div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-title-wrap">
					<div class="frm-title">Получить прайс лист</div>
					<ul class="list">
						<li>
							<a href="" class="btn button-link js-btn-tgl">
								<div class="button-title">Масло пихты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-link js-btn-tgl">
								<div class="button-title">Масло пихты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-link js-btn-tgl">
								<div class="button-title">масляные экстракты</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-link js-btn-tgl">
								<div class="button-title">ингредиенты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Ваше имя">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<input type="text" class="form-input" placeholder="Страна, город">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<input type="email" class="form-input" placeholder="E-mail, на который мы отправим прайс">
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field field-half">
						<input type="tel" class="form-input" placeholder="Телефон для связи">
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field field-info">
						<div class="frm-select">
							<input type="checkbox" id="popup-check-second">
							<label for="popup-check-second">Я соглашаюсь с условиями обработки  <a href="" class="link-main">персональных данных</a></label>
						</div>
					</div>
					<div class="frm-field field-submit">
						<button type="submit" class="btn">
							<div class="button-title">получить прайс</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->